In [1]:
print("hello world")

hello world

In [5]:
my_details=('sony',20,'telugu','cse','pspk','friedrice')
print((my_details),len(my_details),type(my_details))
myfriends=('seethu','durga','sweety')
print(myfriends,len(myfriends),type(myfriends))

('sony', 20, 'telugu', 'cse', 'pspk', 'friedrice') 6 <class 'tuple'>
('seethu', 'durga', 'sweety') 3 <class 'tuple'>

In [10]:
places=['guntur','nandhamuru','rjm','bhimavaram']
print(places,len(places),type(places))
#converting a list to tuple
places_1=tuple(places)
print(places_1,len(places_1),type(places_1))

['guntur', 'nandhamuru', 'rjm', 'bhimavaram'] 4 <class 'list'>
('guntur', 'nandhamuru', 'rjm', 'bhimavaram') 4 <class 'tuple'>

In [14]:
#combining two tules
tup=(myfriends+places_1)
print(tup)

('seethu', 'durga', 'sweety', 'guntur', 'nandhamuru', 'rjm', 'bhimavaram')

In [17]:
tu=(1,2,3,4,5)
li=list(tu)
print(li,type(li))
li.remove(3)#removing an element
tu=tuple(li)
print(tu,type(tu))

[1, 2, 3, 4, 5] <class 'list'>
(1, 2, 4, 5) <class 'tuple'>

In [18]:
tu=(1,2,3,4,5)
li=list(tu)
print(li,type(li))
li.append(3)#appending an element
tu=tuple(li)
print(tu,type(tu))

[1, 2, 3, 4, 5] <class 'list'>
(1, 2, 3, 4, 5, 3) <class 'tuple'>

In [19]:
print(my_details[1])
print(my_details[1:])
print(my_details[1::3])
print(len(my_details))

20
(20, 'telugu', 'cse', 'pspk', 'friedrice')
(20, 'pspk')
6

In [31]:
numbers=(31,32,33,34,35)
print(max(numbers))
print(min(numbers))
print(sum(numbers))
print(sorted(numbers))
print(filter(lambda x: x>6,numbers))
fill=filter(lambda x: x>6,numbers)
for i in fill:
    print(i)

print(numbers,"before del")
del numbers
print(numbers)

35
31
165
[31, 32, 33, 34, 35]
<filter object at 0x0000018B90EC9A80>
31
32
33
34
35
(31, 32, 33, 34, 35) before del

NameError: name 'numbers' is not defined

In [32]:
for i in my_details:
    print(i)

sony
20
telugu
cse
pspk
friedrice

In [34]:
for i in enumerate(my_details):
    print(i)
for count,item in enumerate(my_details,-5):
    print(count,item)

(0, 'sony')
(1, 20)
(2, 'telugu')
(3, 'cse')
(4, 'pspk')
(5, 'friedrice')
-5 sony
-4 20
-3 telugu
-2 cse
-1 pspk
0 friedrice

In [46]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [55]:
my_details={'name':'sony','place':'bhimavaram','age':20,'native':'bhimavram','mothertongue':'telugu','favfood':'noodles','favactoe':'pspk'}
print(my_details,len(my_details),type(my_details))

{'name': 'sony', 'place': 'bhimavaram', 'age': 20, 'native': 'bhimavram', 'mothertongue': 'telugu', 'favfood': 'noodles', 'favactoe': 'pspk'} 7 <class 'dict'>

In [56]:
my_details={3:'seethu',4:'sweety'}
print(my_details)
print(my_details.keys(),my_details.items(),my_details.values())
#iterate using a for loop
for i in my_details.items():
    print(i)

{3: 'seethu', 4: 'sweety'}
dict_keys([3, 4]) dict_items([(3, 'seethu'), (4, 'sweety')]) dict_values(['seethu', 'sweety'])
(3, 'seethu')
(4, 'sweety')

In [57]:
my_details1={1:'saisri',2:'sindhu'}
print(my_details1)
my_details1="sony"
print(my_details1)

{1: 'saisri', 2: 'sindhu'}
sony

In [59]:
my_details.clear()
print(my_details)

{}

In [69]:
my_details={'name':'sony','place':'bhimavaram','age':20,'native':'bhimavram','mothertongue':'telugu','favfood':'noodles','favactoe':'pspk'}
print(my_details,len(my_details),type(my_details))
my_details.popitem()
print(my_details)
my_details.update({1:'kavya'})
print(my_details)

{'name': 'sony', 'place': 'bhimavaram', 'age': 20, 'native': 'bhimavram', 'mothertongue': 'telugu', 'favfood': 'noodles', 'favactoe': 'pspk'} 7 <class 'dict'>
{'name': 'sony', 'place': 'bhimavaram', 'age': 20, 'native': 'bhimavram', 'mothertongue': 'telugu', 'favfood': 'noodles'}
{'name': 'sony', 'place': 'bhimavaram', 'age': 20, 'native': 'bhimavram', 'mothertongue': 'telugu', 'favfood': 'noodles', 1: 'kavya'}

In [98]:
my_details1={'name':'sony','age':20,'dept':'cse',}
print(my_details1)
myset=set(my_details1)
print(myset,type(myset))
mydetails1=list(my_details1)
print(mydetails1)
print(mydetails1*3)
myset=set(mydetails1)
print(myset)
for i in myset:
    print(i)
print('rani' in myset)
print('name' in myset)
myset.add('seethu')
print(myset)
friends=["a","b","c"]
myset.update(friends)
print(myset)
myset.update(friends)
print(myset)
myset.union(friends)
print(myset)
list1=[1,2,3,4,5]
myset.update(list1)
print(myset)
myset.remove(2)
print(myset)
myset.discard(2)
print(myset)
myset.pop()
print(myset)
myset.clear()
print(myset)
d=a.symmetric_difference(d)
print(d)

{'name': 'sony', 'age': 20, 'dept': 'cse'}
{'name', 'dept', 'age'} <class 'set'>
['name', 'age', 'dept']
['name', 'age', 'dept', 'name', 'age', 'dept', 'name', 'age', 'dept']
{'name', 'dept', 'age'}
name
dept
age
False
True
{'name', 'dept', 'age', 'seethu'}
{'dept', 'age', 'a', 'name', 'seethu', 'c', 'b'}
{'dept', 'age', 'a', 'name', 'seethu', 'c', 'b'}
{'dept', 'age', 'a', 'name', 'seethu', 'c', 'b'}
{1, 2, 'dept', 'age', 3, 4, 5, 'a', 'name', 'seethu', 'c', 'b'}
{1, 'dept', 'age', 3, 4, 5, 'a', 'name', 'seethu', 'c', 'b'}
{1, 'dept', 'age', 3, 4, 5, 'a', 'name', 'seethu', 'c', 'b'}
{'dept', 'age', 3, 4, 5, 'a', 'name', 'seethu', 'c', 'b'}
set()

NameError: name 'a' is not defined